 <% @book.each do |book| %>
   <h3>:title</h3><tb> <%= book.title %></tb>
   <h3>:body</h3><tb><%= book.body %></tb>
 <% end %>

   <%= link_to"edit",edit_book_path(@book.id)%>|<%= link_to"back","/books"%>